<div class="container">

<h1>My Listings</h1>

<h2>I'm attending: </h2>

<% @attending.each do |listing| %>
<%= link_to(listing) do %>
<div class="card">
  <div>
    <%= image_tag listing.profile.picture if listing.profile.picture.attached? %>
    <p>Hi I'm <%= listing.profile.first_name %>!</p>
  </div>
  <div>
  <table >
      <tr>
        <th>What: </th>
        <td><%= listing.hobby.name.capitalize %>!</td>
      </tr>
      <tr>
        <th>Where: </th>
        <td><%= listing.city.name %></td>
      </tr>
      <tr>
        <th>When: </th>
        <td><%= listing.date.strftime("%A, %b %d") %></td>
      </tr>
</table>
</div>
<% end %>
<% end %>

<h2>My favorites: </h2>

<% @favorites.each do |listing| %>
<%= link_to(listing) do %>
<div class="card">
  <div>
    <%= image_tag listing.profile.picture if listing.profile.picture.attached? %>
    <p>Hi I'm <%= listing.profile.first_name %>!</p>
  </div>
  <div>
  <table >
      <tr>
        <th>What: </th>
        <td><%= listing.hobby.name.capitalize %>!</td>
      </tr>
      <tr>
        <th>Where: </th>
        <td><%= listing.city.name %></td>
      </tr>
      <tr>
        <th>When: </th>
        <td><%= listing.date.strftime("%A, %b %d") %></td>
      </tr>
</table>
</div>
<% end %>
<% end %>

<h2>Created by me:</h2>

<% @created.each do |listing| %>
<%= link_to(listing) do %>
<div class="card">
  <div>
    <%= image_tag listing.profile.picture if listing.profile.picture.attached? %>
    <p>Hi I'm <%= listing.profile.first_name %>!</p>
  </div>
  <div>
  <table >
      <tr>
        <th>What: </th>
        <td><%= listing.hobby.name.capitalize %>!</td>
      </tr>
      <tr>
        <th>Where: </th>
        <td><%= listing.city.name %></td>
      </tr>
      <tr>
        <th>When: </th>
        <td><%= listing.date.strftime("%A, %b %d") %></td>
      </tr>
</table>
</div>
<% end %>
<% end %>
<%= link_to 'New Listing', new_listing_path %>

</div>