<%= form_with(model: profile, local: true) do |form| %>
  <% if profile.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(profile.errors.count, "error") %> prohibited this profile from being saved:</h2>

      <ul>
      <% profile.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

<div class="container">
      <div class="field">
          <%= form.label :first_name %>
          <%= form.text_field :first_name, required: true %>
      </div>
      

      <div class="field">
        <%= form.label :last_name %>
        <%= form.text_field :last_name %>
      </div>

      <div class="field">
        <%= form.label :gender %>
        <%= form.select :gender, options_for_select([['male'], ['female'], ['other']]), required: true %>
      </div>

      <div class="field">
        <%= form.label :age_bracket %>
        <%= form.select :age_bracket, options_for_select([['18-25'], ['26-33'], ['34+']]), required: true %>
      </div>

      <div class="field">
        <%= form.label :city_id %>
        <%= form.select :city_id, options_from_collection_for_select(City.all, :id, :name), required: true, prompt: "City..." %>
      </div>

      <div class="field">
        <%= form.label :hobbies %>
        <%= select_tag :hobbies, options_from_collection_for_select(Hobby.all, "id", "name"), prompt: "Your favorite hobby:" %>
      </div>

      <div class="field">
        <%= form.label :interests %>
        <%= select_tag :interests, options_from_collection_for_select(Hobby.all, "id", "name"), prompt: "A hobby you want to try:" %>
      </div>  

      <div class="field">
<<<<<<< HEAD
        <%= form.label :description %>
        <%= form.text_area :description, required: true, placeholder: "Tell us more about yourself." %>
=======
        <%= form.label :description, "Tell us about yourself: " %>
        <%= form.text_area :description, required: true %>
>>>>>>> ben2
      </div>

      <div class="field">
        <%= form.label :picture %>
        <%= form.file_field :picture, accept: 'image/png,image/gif,image/jpeg,image/jpg' %>
      </div>

      <div class="container">
        <button type="button" class="btn btn-info"><%= form.submit %> </button>
      </div>
    
    <% end %>

</div>