<%= form_with(model: listing, local: true) do |form| %>
  <% if listing.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(listing.errors.count, "error") %> prohibited this listing from being saved:</h2>

      <ul>
      <% listing.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :hobby_id %>
    <%= form.select :hobby_id, options_from_collection_for_select(Hobby.all, :id, :name), required: true %>
  </div>

  <div class="field">
    <%= form.label :description %>
    <%= form.text_area :description, placeholder: "Tell us more about your activity..." %>
  </div>

  <div class="field">
    <span>What is the<%= form.label :location %></span>
    <%= form.text_field :location, placeholder: "e.g. bondi beach" %>
  </div>

  <div class="field">
    <%= form.label :city_id %>
    <%= form.select :city_id, options_from_collection_for_select(City.all, :id, :name), required: true %>
  </div>

  <div class="field">
    <%= form.label :date %>
    <%= form.date_select :date %>
  </div>

  <div class="field">
    <%= form.label :equipment %>
    <%= form.select :equipment, options_for_select([['yes'], ['no']]) %>
  </div>

  <div class="field">
    <%= form.label :capacity %>
    <%= form.number_field :capacity, min: 1 %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
