<%= form_with(model: listing, local: true) do |form| %>
  <% if listing.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(listing.errors.count, "error") %> prohibited this listing from being saved:</h2>

      <ul>
      <% listing.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :hobby_id %>
    <%= form.select :hobby_id, options_from_collection_for_select(Hobby.all, :id, :name), required: true %>
  </div>

  <div class="field">
    <%= form.label :description %>
    <%= form.text_area :description %>
  </div>

  <div class="field">
    <%= form.label :location %>
    <%= form.text_field :location %>
  </div>

  <div class="field">
    <%= form.label :date %>
    <%= form.date_select :date %>
  </div>

  <div class="field">
    <%= form.label :city %>
    <%= form.select :city, options_for_select([['Sydney'], ['Melbourne'], ['Elsewhere']]), required: true %>
  </div>

  <div class="field">
    <%= radio_button_tag(:equipment, "yes", required: :true)%>
    <%= label_tag(:equipment_yes, "You will need your own equipment") %>
    <%= radio_button_tag(:equipment, "no") %>
    <%= label_tag(:age_no, "You won't need any equipment") %>
  </div>

  <div class="field">
    <%= form.label :capacity %>
    <%= form.number_field :capacity %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
