<p id="notice"><%= notice %></p>

<%= form_tag(listings_path, method: :get) do %>
  <%= text_field_tag(:search, params[:search], placeholder: 'Search by hobby...') %>
  <%= collection_select(:city, params[:id], City.all, :id, :name, prompt: "Location...") %>
  <%= submit_tag ("Search") %>
<% end %>

<h1>Listings</h1>

<% @listings.each do |listing| %>
<%= link_to(listing) do %>
<div class="card">
  <div>
    <%= image_tag listing.profile.picture if listing.profile.picture.attached? %>
    <p>Hi I'm <%= listing.profile.first_name %>!</p>
  </div>
  <div>
  <table >
      <tr>
        <th>What: </th>
        <td><%= listing.hobby.name.capitalize %>!</td>
      </tr>
      <tr>
        <th>Where: </th>
        <td><%= listing.city.name %></td>
      </tr>
      <tr>
        <th>When: </th>
        <td><%= listing.date.strftime("%A, %b %d") %></td>
      </tr>
</table>
</div>
<% end %>
<% end %>
<br>
