
<p id="notice"><%= notice %></p>

<%# Created By %>
<div>
  <div>
    <%= image_tag @listing.profile.picture if @listing.profile.picture.attached? %>
    <p>Hi I'm <%= @listing.profile.first_name %>!</p>
  </div>
<%# Activity Date %>
  <div>
    <span>Activity Date: </span>
    <span><%= @listing.date.strftime("%A, %b %d") %></span>
  </div> 
<%# Activity Location %>
  <div>
    <span>Activity Location: </span>
    <span><%= @listing.city.name %></span>
  </div>
</div>

<div>
<%# Capacity %>
  <div>
    <span>People Attending: </span>
    <% spaces_taken = @listing.listing_attendees.count%>
    <% spaces_left = @listing.capacity - spaces_taken %>
    <% case spaces_left %>
    <% when  %>
      <% remaining = "sorry, there are currently no spaces remaining"%>
    <% when 1 %>
      <% remaining = "there is 1 space remaining"%>
    <% else %>
      <% remaining = "there are #{spaces_left} spaces remaining" %>
    <% end %>
    <% if spaces_taken == 1 %>
      <span><%= spaces_taken %> person is already attending | </span>
      <span><%= remaining %></span>
    <% elsif spaces_taken > 1 %>
      <span><%= spaces_taken %> people are already attending | </span>
      <span><%= remaining %></span>
    <% end %>
  </div>

<%# Equipment needed? %>
  <div>
    <span>Will I need special equipment?</span>
    <%= @listing.equipment.capitalize %>
  </div>
<%# Description %>
  <div>
    <span>What will I be doing?</span>
    <p><%= @listing.description %></p>
  </div>
</div>
<%= link_to 'Back', listings_path %> |
<% if current_user.profile == @listing.profile %>
  <%= link_to 'Edit', edit_listing_path(@listing) %> |
  <%= link_to 'Destroy', @listing, method: :delete, data: { confirm: 'Are you sure?' } %> 
<% end %>
<% if @listing.favorited.include? current_user.profile %>
  <%= link_to 'Unfavorite', unfavorite_path, method: :delete unless current_user.profile == @listing.profile %> |
<% else%>
  <%= link_to 'Favorite', favorite_path, method: :post unless current_user.profile == @listing.profile %> | 
<% end %>
<% if @listing.listing_attendees.include? current_user.profile %>
  <%= link_to 'Cancel Attendance', unattend_path, method: :delete unless current_user.profile == @listing.profile %>
<% else%>
  <%= link_to 'Attend', attend_path, method: :post unless current_user.profile == @listing.profile or spaces_left == 0 %>
<% end %>
<% if flash[:notice] %>
  <div class="notice"><%= flash[:notice] %></div>
<% end %>

</div>